
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;400&family=Fira+Sans+Condensed:wght@300;400&family=Numans&family=Roboto+Flex:wght@300;400;600&family=Roboto:wght@300;400&family=Yaldevi:wght@400;600&display=swap');

/* 'Fira Sans Condensed', sans-serif;
 */


*{
  box-sizing:border-box;
  border: none;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

span{
  color: var(--lightGreen);
}
button{
  font-family: var(--font4);
}
:root {
  --greenColor: rgb(3, 155, 3);
  --backgroundColor: rgb(0, 4, 8);
  --secondDarkColor: #111111;
  --shadow: 0px 0px 8px 1px rgb(168, 168, 168);
  --dropDownContentsColor:#333333;
  --buttonHoverColor: #00be7f;
  --containerColor: #27272744;
  --textHeaderColor: #d3d3d3;
  --normalTextColor: #acacac;
  --transition: all 0.5s;
  --lightGreen: rgb(125, 194, 125);
  --font1: 'Fira Sans', sans-serif;
  --font2:'Numans', sans-serif;
  --font3: 'Roboto', sans-serif;
  --font4: 'Yaldevi', sans-serif;

}

body {
  margin: 0;
  width: 100%;
  display: block;
  background-color: var(--backgroundColor);
}

.reveal{
  transform: translateY(15em);
  opacity: 0;
  transition: all 3s;
  z-index: -1;
}
.reveal.active{
  transform: none;
  transition: all 3s;
  opacity: 1;
  z-index: -1;
}

.revealRight{
  transform: translateX(-5em);
  opacity: 0;
  transition: all 3s;
  z-index: -1;
}
.revealRight.active{
  transform: none;
  transition: all 3s;
  opacity: 1;
  z-index: -1;
}


.popup {
  transition: all 5s;
  position: fixed;
  width: 100%;
  height: 50em;
  z-index: 9999;
  backdrop-filter: blur(22px);
  background-color: #ffffff1f;
}
.popup .container{
  background-color: #000000de;
  border-radius: 0.4em;
  width: 43%;
  margin: auto;
  margin-top: 15%;
  padding: 1em;
}
.popup .container button{
  border: none;
  font-size: 20px;
  font-family: var(--font4);
  padding: 0.4em;
  cursor: pointer;
  margin-top: 2em;
  width: 6em;
  border-radius: 0.2em;
  background-color: #00be7f;
  transition: var(--transition);
}
.popup .container .btn{
  margin: auto;
  background:none;
  width:fit-content;
}
.popup .container h1{
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.popup .container h2{
  color: #d3d3d3;
  font-size: 17px;
  text-align: center;
  padding-top: 1em;
}
.popup .container h4{
  color: #d3d3d3;
  font-size: 20px;
  text-align: center;
  padding-top: 1em;
}

.popup .container button:hover{
  background-color:#006e4a ;
  transition: var(--transition);
}

.popOff{
  display: none;
}


.popup.active{
  display: none;
}

.scrollDown .navBar{
  transform: translate3d(0, -100%, 0);
}
.scrollUp .navBar{
 
}

.navBar {
  background-color: rgba(0, 4, 8, 0.685);
  background: transparent;
  backdrop-filter: blur(6px);
  display: inline-flex;
  position: fixed;
  width: 100%;
  border: none;
  height: auto;
  transition: all 320ms ease-in-out;
  z-index: 3;
}
.navBar .logo img {
  width: 170px;
  margin-right: 10em;
  padding: 0.3em;
}
.navBar .navLinks {
  background: none;
  margin: auto;
  margin-top: 1em;
  display: flex;
}
.navBar .navLinks .links {
  list-style: none;
  padding-top: 0em;
  padding-left: 15em;
}
.navBar .navLinks .links li {
  display: inline-block;
  padding-top: 0.5em;
  font-size: 17px;

}

.navBar .navLinks .links a {
  text-decoration: none;
  color: rgb(209, 209, 209);
  transition: all 0.5s;
  font-family: var(--font4);
  font-weight: 400;
  /* padding-left: 3em; */
  text-align: center;
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 0.3em;
}
.navBar .navLinks .links li{
  margin: auto;
  margin-left: 0em;
  border-radius: 0.3em;
  transition: var(--transition);
  padding: 0.7em;
}
.navBar .navLinks .links li:hover{
  transition: var(--transition);
}
.navBar .navLinks .links a:hover {
  color: #000000;
  transition: all 0.5s;
  background-color:  #00be7f;
}
#targetLink{
  border-radius: 0.3em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  color: #000000;
  transition: all 0.5s;
  background-color: var(--buttonHoverColor);
  border-radius: 0.3em;
}
#targetLink:hover{
  background-color: #017c53
}
#companyLink{
  cursor: pointer;
  color: rgb(209, 209, 209);
  transition: all 0.5s;
  font-family: var(--font4);
  font-weight: 400;
  text-align: center;
  padding: 0.4em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 0.3em;
}
.navLinks .company{
  background:#333333e8;
  padding: 0.2em;
  border-radius: 0.4em;
  position: absolute;
  backdrop-filter: blur(6px);
  margin-left: 33.5em;
  margin-top: 3em;
  opacity: 0;
  transition: var(--transition);
  width: 8.6em;

}
.navLinks .links #whiteArrow{
  width: 11px;
  margin-left: 0.5em;
  transform: rotate(180deg);
  transition: var(--transition);
  cursor: pointer;
}
.navLinks .company.active{
  opacity: 1;
  transition: var(--transition);
}
.navLinks .links #whiteArrow.active{
  transform: rotate(0deg);
  transition: var(--transition);
}

.navLinks .company ol li{
  font-family: var(--font4);
  margin-top: 0.3em;
  font-size: 17px;
  list-style: none;
  line-height: 1.8em;
  background: #1a1a1a7c;
  padding: 0.3em;
  cursor: pointer;
}
.navLinks .company ol li:hover{
  background-color: var(--buttonHoverColor);
  border-radius: 0.4em;
}
.navLinks .company ol li a{
  text-decoration: none;
  padding: 0.4em;
  color: #fff;
}








.navBar .navLinks .account {
  margin-left: 0em;
  display: none;
}


.navBar .navLinks .account1 {
  margin-left: 3em;
  display: flex;
}
.navBar .navLinks .account1 button {
  background: var(--lightGreen);
  border: 2px solid #333333;
  font-size: 17px;
  padding-top: 0.1em;
  transition: var(--transition);
  margin-bottom: 0.5em;
  width: 6em;
  border-radius: 0.5em;
  height: 48px;
  cursor: pointer;
}
.navBar .navLinks .account1 ol{
  display: flex;
}
.navBar .navLinks .account1 ol li{
  list-style: none;
}
.navBar .navLinks .account1 ol button:hover{
  background: #00be7fa1;
}

.navBar .navLinks .account1 ol #li1 a button {
  border: 1.5px solid #00be7f;
  margin-right: 0.7em;
  background: none;
  color: #fff;
  
}
.navBar .navLinks .account1 ol #li1 a button:hover{
  background-color: #00be7f;
}
.navBar .navLinks .account1 ol button{
  background-color:#00be7f;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--font5);
  border: none;
  padding: 0.4em;
  width: 4.5em;
  cursor: pointer;
  border-radius: 0.3em;
  color: #000;
  height: 2.5rem;
}




.menu{
  margin: 0;
}
.menu img{
  width: 30px;
  margin-top: 1.5em;
  display: none;
  padding: 0;
}



.section1{
  margin: 0;
  border: none;
  /* background-color: var(--backgroundColor); */
  background: linear-gradient(360deg, rgba(0,4,8,1) 20%, var(--lightGreen) 500%);
  width: 100%;
  height: 44em;
  padding-top: 6em;
  background-size: cover;
  background-repeat: no-repeat;
  /* animation: imgShow 20s infinite; */
  /* border: 3px solid #006e4a;
  border-top: none;
  border-left: none;
  border-right: none; */


}
/* @keyframes imgShow {
  0%{
    background-image: url(/assets/woman_with_laptop-img5.jpg);
  }
  25%{
    background-image: url(/assets/woman_with_laptop-img2.jpg);
  }
  50%{
    background-image: url(/assets/woman_with_laptop-img3.jpg);
  }
  75%{
    background-image: url(/assets/woman_with_laptop-img4.jpg);
  }
  100%{
    background-image: url(/assets/woman_with_laptop-img5.jpg);
  }
} */

.text{
  background:none;
  margin: auto;
  width: 50em;
  padding: 0em;
  border-radius: 0.3em;
  background: none;
}
.text .img{
  width: 4em;
  margin: auto;
  margin-top: -2em;
  background: none;
}
.text .img img{
  width: 100px;
  
}
.section1 h1{
  margin-top: 0.1em;
  font-family: var(--font3);
  font-size: 41px;
  color: #ffffff;
  padding-bottom: 0.2em;
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
  font-size: 50px;

}
.section1   h3{
  font-family: var(--font5);
  line-height: 1.5em;
  padding: 0.5em;
  text-align: center;
  color: #7a7a7a;
  font-size: 17px;
}
.section1 button{
  font-size: 19px;
  padding: 0.5em;
  background: var(--lightGreen);
  border: none;
  font-family: var(--font4);
  cursor: pointer;
  transition: var(--transition);
  border-radius: 0.4em;
  margin-top: 1.5em;
}

.section1 button:hover{
  opacity: 0.5;
  transform: translateY(-0.3em);
}
.section1   button:hover{
  transition: var(--transition);
  background-color: var(--lightGreen);
}
.startBtn{
  width: 7em;
  margin: auto;
}
.transaction{
  margin: auto;
  background: none;
  width: 32em;
  border-radius: 0.2em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.transaction .first{
  display: flex;
  border: 1px solid var(--lightGreen);
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.transaction .first img{
  width: 70px;
}
.transaction .first h1{
  margin-left: 0;
  color: #ffffff;
  line-height: 0.5em;
  padding-top: 0.7em;
  font-size: 30px;
}
.transaction .first h1 span{
  color: #cecece;
  font-size: 14px;
}
.transaction .second{
  border: 1px solid var(--lightGreen);
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.transaction .second h1{
  margin-left: 0;
  font-size: 25px;
  color: #ffffff;
  line-height: 0.5em;
  padding-top: 0.9em;
}
.transaction .second h1 span{
  color: #cecece;
  font-size: 14px;
}

.transaction .rate{
  display: flex;
}
.transaction .rate h1{
  font-size: 25px;
}
.transaction .rate h4{
  color: #cecece;
  font-size: 14px;
  padding-top: 1em;
}
.transaction .rate img{
  width: 70px;
  padding-top: -1em;
}

.steps{
  background-color: var(--containerColor);
  border: 1px solid #ffffff13;
  display: flex;
  margin: auto;
  margin-top: 15em ;
  width: fit-content;
  padding: 2em;
  border-radius: 0.4em;

}
.steps h1{
  padding-top: 1.5em;
  padding-right: 1.5em;
  font-size: 30px;
}
.steps h3{
  color: #e6e6e6;
  text-align: center;
  font-size: 15px;
}
.steps h4{
  color: #929292;
  text-align: center;
  font-size: 15px;
}
.steps h2{
  color: #ffffff;
  padding: 0.4em;
  border-radius: 4em;
  border: 4px solid var(--lightGreen);
  width: 2.2em;
  margin: auto;
  text-align: center;
  background-color: #00ffaa09;
}
.steps #one{
  color: red;
  font-size: 22px;
}
.steps #two{
  color: yellow;
  font-size: 22px;
}
.steps #three{
  color: green;
  font-size: 22px;
}
.steps img{
  width: 70px;
  padding-top: 3em;
}
.steps .one{
  margin-right: 1em;
}
.steps .two{
  margin-right: 1em;
}
.steps img{
  margin-right: 1em;
}




.earn{
  margin: auto;
  background: none;
  margin-top: 30em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
  width: 90%;
}
.earn .earnText{
  padding-left: 4em;
}
.earn h1{
  font-size: 80px;
  padding-right: 1em;
  font-family: var(--font3);
  
}
.earn h1 span{
  color: #dadada;
}
.earn button{
  margin-top: 3em;
  width: 7em;
  font-size: 20px;
  height: 3rem;
  background-color: #006e4a;
  border: none;
  border-radius: 0.2em;
  color: #000000;
  font-family: var(--font3);
  cursor: pointer;
  transition: var(--transition);
}
.earn button:hover{
  background-color:var(--lightGreen);
  transition: var(--transition);
}
.earn img{
  width: 450px;
}

.circle1{
  width: 30em;
  height: 20rem;
  background-color: #00ff9d;
  position: relative;
  margin-bottom: -20em;
  z-index: -1;
  top: 2em;
  left: 30em;
  border-radius: 50%;
  filter: blur(70px);
  opacity: 0.1;
}

.circle2{
  width: 20em;
  height: 20rem;
  background-color: #76ffca;
  position: relative;
  z-index: -1;
  top: 45em;
  border-radius: 50%;
  filter: blur(100px);
  left: 20em;
  opacity: 0.1;
}




.section2{
  margin-top: 0em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: none;
  background-size: cover;
}
.section2 .leftSect{
  padding-top: 6em;
  padding-right: 4em;
}
.section2 .leftSect h1{
  padding-left: 0.4em;
  font-size: 120px;
  /* text-align: center; */
  padding-bottom: 0em;
  line-height: 1em;
  font-family: var(--font4);
}
.section2 .leftSect h2{
  font-size: 40px;
  padding-left: 1.3em;
  font-family: var(--font1);
  /* text-align: center; */
}
.section2 .leftSect h3{
  text-align: center;
  padding-top: 0.2em;
  font-family: var(--font2);
  color: #2c2c2c;
  font-size: 20px;
}



.section2 .leftSect h1 span{
  color: var(--greenColor);
}
.rightSect{
  background: none;
  border-top-left-radius: 30em;
  padding-top: 5em;
  padding-left: 5em;

}
.rightSect .img #images{
  width: 503px;
  padding-bottom: 3em;
  transition: all 5s;
}





#ah{
  padding-top: 50%;
}


/* section 2 */
.section3 .reveal{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2em;
  margin: auto;
  width: 95%;
  background: none;
  margin-top: 15em;
}
.section3 .container{
    background-color: var(--containerColor);
    width: 17em;
    height: 22rem;
    border-radius: 0.4em;
    transition: var(--transition);

}
.section3 .container h1{
  font-size: 17px;
  padding: 0.5em;
  font-family: var(--font3);
  font-weight: 500;
  padding-top: 2em;
  color: var(--textHeaderColor);
}
.section3 .container h2{
  font-size: 15px;
  font-weight: 400;
  padding-left: 1em;
  padding-right: 0.5em;
  height: 5em;
  padding-top: 0.4em;
  border-radius: 1em;
  font-family: var(--font5);
  color: var(--normalTextColor);
}
.section3 .container .img{
  background-color: var(--backgroundColor);
  border-radius: 1em;
  width: 100%;
  border-radius: 0 0 2em 2em;
  height: 12em;
}

.section3 .container1{
    margin-top: 0em;
    width: 17em;
    height: 22rem;
    border-radius: 0.4em;
    transition: var(--transition);
    background: var(--containerColor);
}
.section3 .container1 .img{
  background: var(--backgroundColor);
  padding-left: 1em;
  border-radius: 0 0 2em 2em;
  height: 12em;
  
}

.section3 .container .img img{
  width: 250px;
  /* border-radius: 2em; */
}

.section3 .container1 h1{
  font-size: 17px;
  padding: 0.5em;
  font-family: var(--font3);
  font-weight: 400;
  color: var(--textHeaderColor);
  padding-top: 2em;
}
.section3 .container1 h2{
  font-family: var(--font5);
  font-size: 15px;
  padding-left: 1em;
  padding-right: 0.5em;
  height: 5em;
  padding-top: 0.4em;
  font-weight: 400;
  border-radius: 1em 0;
  color: var(--normalTextColor);
}
#depositeImg{
  width: 190px;
  margin-left: 1em;
}
#withdrawImg{
  width: 150px;
  margin-left: 3em;
}
#transferImg{
  width: 150px;
  margin-left: 3em;
}
#earnImg{
  width: 210px;
  margin-left: 0em;
  margin-top: -2em;
}




.virtualCard{
  background:none;
  padding: 1em;
  border-radius: 1em;
  width: 90%;
  margin: auto;
  margin-top: 15em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.virtualCard .img{
  /* background: var(--lightGreen); */
  /* padding: 2em; */
  padding-top: 2em;
  padding-left: 2em;
}
.virtualCard .revealRight{
  padding: 3em;
}
.virtualCard .img img{
  width: 450px;
}
.virtualCard h3{
  font-size: 16px;
  padding-top: 0.5em;
  color: #bbbbbb;
  line-height: 1.5em;
}
.virtualCard h2{
  font-family: var(--font4);
  font-size: 30px;
  color: var(--lightGreen);
}
.virtualCard h1{
  padding-top: 0.5em;
  color: #fff;
  font-size: 60px;
  font-family: var(--font4);
  padding-bottom: 1em;
}


.security{
  background: none;
  margin-top: 18em;
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.security .main{
  padding-left: 6em;
}

.security h1{
  color: #fff;
  font-family: var(--font4);
  font-size: 35px;
  padding-bottom: 1em;
  text-align: center;
}
.security h2{
  color: var(--lightGreen);
  font-family: var(--font4);
  font-size: 25px;
}
.security h3{
  font-size: 17px;
  color: #cfcfcf;
  padding-top: 0.5em;
  font-family: var(--font4);
}
.security img{

  width: 700px;
  margin-top: 2em;
}
.security .container{
  background-color: #ffffff05;
  margin-top: 2em;
  padding: 2em;
  border-radius: 0.4em;
}

.help .helpContainer{
  background: none;
  padding-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-top: 13em;
  width: 80%;

}


.help h1{
  font-family: var(--font4);
  color: var(--lightGreen);
  font-size: 50px;
  padding-top: 1.6em;
}
.help h2{
  font-size: 16px;
  padding-right: 8em;
  color: #9e9e9e;
  font-family: var(--font5);
  padding-left: 1em;
  line-height: 1.5em;
  
}
.help .img{
  /* background-color: rgb(10,13,16); */
  /* background: var(--backgroundColor); */
  margin-left: 6em;
  margin-top: 0em;
  margin-bottom: -1em;
  width: fit-content;
}
.help .img img{
  width: 350px;
  /* box-shadow: var(--shadow); */
  border-radius: 0.5em;
  
}
.help .contacts{
  display: flex;
  margin-top: 3em;
}
.help .textContainer img{
  width: 70px;
}

.help .contacts h4{
  font-size: 17px;
  color: #e4e4e4;
}
.mail{
  margin-top: 1.5em;
  margin-left: 1em;
  display: flex;
}
#mailIcon{
  width: 40px;
}
.mail h4{
  color: var(--lightGreen);
  font-size: 17px;
  padding-top: 0.5em;
  padding-left: 0.7em;
}
.mail h4 a{
  text-decoration: none;
  color: #e4e4e4;
}



footer{
  background-color: var(--containerColor);
  margin-top: 8em;
  padding: 1em;
  padding-bottom: 2em;
}


footer h1{
  padding-top: 1em;
  color: #fff;
  font-family: var(--font4);
  font-size: 25px;
  padding-bottom: 0.4em;
}

footer li{
  list-style: none;
  line-height: 2.5em;
  padding-left: 0.5em;
}
footer a{
  text-decoration: none;
  color: #d6d6d6;
  font-family: var(--font3);
  font-size: 14px;
}
footer .about{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .about h1{
  font-size: 12px;
  padding-right: 30em;
  color: #5a5a5a;
  font-family: var(--font3);
  line-height: 1.7em;
}
footer img{
  width: 30px;
}
footer .content-four li{
  display: flex;
}
footer .content-four li a{
  font-size: 11px;
  line-height: 1.5em;
  padding-left: 0.5em;
  font-family: var(--font3);
  color: #d6d6d6;
}
footer .content-four li{
  line-height: 0.7em;
}
footer .footerContents{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 1em;
}

.copy{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--containerColor);
  border-top: 2px solid var(--backgroundColor);
  padding: 0.5em;

}
.copy img{
  width: 25px;
}
.copy h4{
  color: #747474;
  padding-top: 0.5em;
  padding-left: 0.5em;
  font-size: 13px;
}
.copy .text{
  display: flex;
  padding: 0.5em;
  width: fit-content;
  margin:auto;
}

.copy li{
  padding-right: 1em;
  list-style: none;
  display: inline-block;
}
.copy li a img{
  background-color: #fff;
  width: 2em;
  padding: 0.2em;
  border-radius: 50%;
}
.copy .socialMedia{
  width: fit-content;
  margin:auto;
}

/* feasuures style */

.features{
  padding-top: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: none;
}
.features .secondContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 4em;
}
.features .container{
  border-radius: 0.5em;
  margin-top: 2em;
  padding: 1em;
  width: 17em;
  height: 15rem;
  background-color: var(--containerColor);
}
.features h1{
  color: #dddddd;
  font-family: var(--font5);
  font-size: 18px;
  padding-top: 0.5em;
}
.features h2{
  padding-top: 1em;
  color: #868686;
  font-size: 14px;
  line-height: 1.5em;
}
.features .firstContainer{
  /* background-color: var(--containerColor);
  border-radius: 5em;
  margin-right: 4em; */
}
.features .img{
  width: fit-content;
  margin: auto;
}
.features img{
  width: 550px;
}
.features .secondContainer img{
  width: 70px;
}
#referralImg{
  width: 150px;
}

.features1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 7em;
}
.features1 .text{
  padding-left: 5em;
  padding-right: 8em;
}
.features1 .text h1{
  color: #fff;
  font-size: 60px;
  font-family: var(--font5);
  padding-top: 1em;
}
.features1 .text h2{
  font-size: 15px;
  padding-top: 1em;
  color: #5a5a5a;
  font-family: var(--font3);
}
.features1 button{
  background-color: var(--buttonHoverColor);
  padding: 0.5em;
  font-size: 20px;
  border-radius: 0.2em;
  margin-top: 2em;
  cursor: pointer;
  transition: var(--transition);
}
.features1 button:hover{
  background-color: var(--lightGreen);
  transition: var(--transition);
}
.features1 .img{
  padding-top: 4em;
}
.features1 img{
  width: 450px;
}

.features2{
  width: 80%;
  border-radius: 0.3em;
  margin: auto;
  margin-top: 10em;
  margin-bottom: 6em;
}
.features2 .containers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  margin: auto;
}
.features2 .container{
  
  background-color: var(--containerColor);
  padding: 0.8em;
  height: 14em;
  border-radius: 0.3em;
  margin-right: 1em;
  margin-top: 0.2em;
}
.features2 h1{
  color: var(--lightGreen);
  font-family: var(--font5);
  text-align: center;
  font-size: 30px;
  padding-bottom: 1em;
  border-bottom: 1px solid #202020;
  
}
.features2 h2{
  color: #bdbdbd;
  font-family: var(--font4);
  font-size: 17px;
  text-align: center;
  padding-top: 3em;
}
.features2 .target{
  margin-right: 1em;
}
.features2 .container .img{
  width: fit-content;
  margin: auto;
}
.features2 .container img{
  width: 100px;
}
.breakHeader{
  padding: 1em;
  border-radius: 0.2em;
  width: 80%;
  margin: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  background-color: var(--backgroundColor);
  box-shadow: var(--shadow);
  color: #fff;
  font-size: 35px;
  text-align: center;

}


@media only screen and (max-width: 600px){
  .popup {
    height: 100em;
  }
  .popup .container{
    border-radius: 0.5em;
    width: 80%;
    margin-top: 50%;
    padding: 0.5em;
  }
  .popup .container button{
    margin-top: 1em;
    width: 6em;
    font-size: 15px;
  }
  .popup .container h1{
    font-size: 15px;
    text-align: center;
  }
  .popup .container h2{
    font-size: 13px;
  }
  .popup .container h4{
    color: #d3d3d3;
    font-size: 13px;
    text-align: center;
  }

  .popup .container button:hover{
    background-color:#006e4a ;
    transition: var(--transition);
  }

  .popOff{
    display: none;
  }


  .popup.active{
    display: none;
  }
  .navBar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: var(--transition);
    margin: auto;
    backdrop-filter: blur(10px);
    height: auto;
  }
  .navBar .logo img {
    width: 150px;
    margin-right: 12em;
    padding: 0.1em;
  }
  .navBar .menu img{
    display: block;
    cursor: pointer;
  }
  .navBar .navLinks {
    background: none;
    margin-top: -200%;
    display: block;
    background:none;
    transition: all 0.5s;
    width: 100%;
    padding: 0;
  }
  .navBar .navLinks .links {
    margin: auto;
    width: fit-content;
    padding-left: 2em;
  }
  .navBar .navLinks .links li {
    display: block;
    padding-top: 0.5em;
  }

  .navBar .navLinks .links a {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    padding: 0;
  }
  .navBar .navLinks .links li{
    margin-left: 0em;
    transition: var(--transition);
    padding: 0em;
    line-height: 3em;
    text-align: center;
    
  }
  .navBar .navLinks .links li:hover{
    transition: var(--transition);
    padding: 0;

  }
  .navBar .navLinks .links a:hover {
    color: #00be7f;
    transition: all 0.5s;
    background:none ;
    border-radius: 0.3em;
    margin: 0em;
  }
  #targetLink{
    color: #00be7f;
    transition: all 0.5s;
    background-color:  var(--secondDarkColor) ;
    padding: 0.7em;
  }
  .navLinks .company{
    padding: 0.2em;
    position: relative;
    margin-left: 7.5em;
    margin-top: 0em;
    display: none;
    transition: var(--transition);

  }
  .navLinks .company.active{
    display: block;
  }

  .navLinks .company ol li{
    line-height: 1.5em;
    background: var(--containerColor);
  }
  .navLinks .company ol li:hover{
    background-color: var(--buttonHoverColor);
  }




  .navBar .navLinks .account1{
    display: none;
  }
  .account{
    padding-left: 8em;
  }
  .navLinks.active{
    background: none;
    display: block;
    margin: 0;
  }
  .account #acctBtn {
    margin-left: 0em;
    background: var(--containerColor);
    border: 2px solid #333333;
    font-size: 17px;
    padding-top: 0.1em;
    transition: var(--transition);
    border-radius: 1em;
    cursor: pointer;
    display: flex;
    margin-bottom: 0.5em;
    width: 7em;
    height: 47px;

  }
  .account #acctImg{
    width: 40px;
  }
  .account #acctBtn #arrDwn {
    margin-top: 0.7em;
    width: 20px;
    margin-left: 2.3em;
    transform: rotate(180deg);
    transition: var(--transition);
    
  }
  .account #acctBtn #arrDwn.active {
    transform: rotate(0deg);
    transition: var(--transition);
  }

  .account .acctContents{
    display: none;
  }

  .account .acctContents.active {
    transition: var(--transition);
    display: block;
  }
  .account .acctContents ol {
    position: relative;
    background: var(--dropDownContentsColor);
    border-radius: 0.4em;
    border: 2px solid #333333;
    width: 8em;
    padding: 0.1em;
    box-shadow: none;
    margin-left: -0.2em;
    margin-bottom: 1em;
  }
  .account .acctContents ol li {
    list-style: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: var(--font3);
  }
  .acctContents ol li a button{
    text-decoration: none;
    color: #cecece;
    font-size: 17px;
    font-family: var(--font5);
    background: var(--backgroundColor);
    border: none;
    padding: 0.4em;
    width: 100%;
    cursor: pointer;
    border-radius: 0.3em;
  }


  .acctContents ol #li1 {
    border: none;
  }

  .navBar .navLinks .account{
    margin-top: 1em;
    display: block;
  }






  .section1{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f5f5ff;
    width: 100%;
    height: 35em;
    background-size: cover;
    border: 0;
    background-repeat: no-repeat;
    /* border-bottom-left-radius: 100%;
    border-bottom-right-radius:10%; */

  }

  .text{
    width: 15em;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: var(--containerColor);
  }
  .section1   h1{
    margin-top: 0.4em;
    font-size: 15px;
    color: #ffffff;
    padding-bottom: 0.5em;
    padding: 0.5em;
    border-radius: 2em;
    /* width: 90%; */

  }

  .section1   h3{
    font-family: var(--font5);
    line-height: 1.2em;
    padding: 0.5em;
    text-align: center;
    color: #bbbbbb;
    font-size: 12px;
  }
  .section1   button{
    font-size: 17px;
    padding: 0.7em;
    background:none;
    background-color: var(--lightGreen);
    cursor: pointer;
    transition: var(--transition);
    border-radius: 0.4em;
    margin-top: 1em;
    width: 8em;
  }

  .section1   button:hover{
    transform: none;
  }
  .startBtn{
    margin: auto;
    background:none;
    width: fit-content;
    margin-top: 4em;

  }
  .section1 img{
    width: 300px;
    
  }
  .transaction{
    margin-top: 3em;
    width: 16em;
    border-radius: 0.2em;
    padding: 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: none;
  }
  .transaction .first{
    display: flex;
    border: 1px solid var(--lightGreen);
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-top: 0.7em;
  }
  .transaction .first img{
    width: 30px;
    height: 2em;
  }
  .transaction .first h1{
    padding-top: 0em;
    font-size: 15px;
    line-height: 1em;
  }
  .transaction .first h1 span{
    color: #cecece;
    font-size: 10px;
  }
  .transaction .second{
    border: 1px solid var(--lightGreen);
    border-top: none;
    border-bottom: none;
    border-left: none;
  }
  .transaction .second h1{
    margin-left: 0;
    font-size: 15px;
    line-height: 0.5em;
    padding-top: 1em;
  }
  .transaction .second h1 span{
    color: #cecece;
    font-size: 10px;
  }

  .transaction .rate{
    display: flex;
    padding-top: 0em;
  }
  .transaction .rate h1{
    font-size: 15px;
    color: #fff;
  }
  .transaction .rate h4{
    color: #cecece;
    font-size: 12px;
    padding-top: 1em;
  }
  .transaction .rate img{
    width: 40px;
  }

  .steps{
    display: grid;
    margin: auto;
    width: 90%;
    background:none;
    margin-top: 5em;
    padding: 1em;
    background:none;
    border-radius: 0.4em;
    border: none;

  }
  .steps h1{
    padding-top: 1.5em;
    padding-right: 1.5em;
    font-size: 30px;
    color: #fff;
  }
  .steps h3{
    color: #e6e6e6;
    text-align: center;
    font-size: 15px;
  }
  .steps h4{
    color: #929292;
    text-align: center;
    font-size: 15px;
  }
  .steps h2{
    color: #ffffff;
    padding: 0.4em;
    border-radius: 4em;
    border: 4px solid var(--lightGreen);
    width: 2.2em;
  }
  .steps #one{
    color: red;
    font-size: 22px;
  }
  .steps #two{
    color: yellow;
    font-size: 22px;
  }
  .steps #three{
    color: green;
    font-size: 22px;
  }
  .steps img{
    display: none;

  }
  .steps .one{
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
  }
  .steps .two{
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 3em;
  }
  .steps img{
    margin-right: 1em;
    margin-top: 1em;
  }


  .earn{
    background: none;
    margin-top: 50em;
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
  }
  .earn .earnText{
    padding-left: 0em;
    text-align: left;
  }
  .earn h1{
    font-size: 40px;
    padding-right: 1em;
    font-family: var(--font3);
    
  }
  .earn h1 span{
    color: #dadada;
  }
  .earn button{
    margin-top: 1em;

  }
  .earn button:hover{
    background-color:var(--lightGreen);
    transition: var(--transition);
  }
  .earn img{
    width: 250px;
    margin: 0;
    padding: 0;
  }

  .circle1{
    width: 13em;
    height: 13rem;
    background-color: #55ffbe;
    position: relative;
    z-index: -1;
    top: 60em;
    border-radius: 50%;
    filter: blur(70px);
    opacity: 0.1;
  }

  .circle2{
    width: 10em;
    height: 10rem;
    background-color: #55ffbe;
    position: relative;
    z-index: -1;
    top: 25em;
    border-radius: 50%;
    filter: blur(70px);
    left: 10em;
    opacity: 0.1;
  }

  .virtualCard{
    margin-top: 15em;
    grid-template-columns: 1fr;
    width: 100%;
    border-radius: 0em;
  }

  .virtualCard .revealRight{
    margin: auto;
    padding: 0;
    width: 90%;
  }
  .virtualCard .img img{
    width: 300px;
    margin-left: 1em;
    

  }
  .virtualCard h3{
    font-size: 12px;
    padding-top: 0.5em;
    line-height: 1.5em;
    padding-bottom: 2em;
  }
  .virtualCard h2{
    font-size: 20px;
  }
  .virtualCard h1{
    color: #fff;
    font-size: 25px;
    font-family: var(--font4);
    padding-bottom: 0.5em;
  }






  .section2{
    padding-left: 0em;
    display: block;
  }
  .section2 .leftSect{
    padding-top: 6em;
    background: none;
    width: 90%;
    margin: auto;
    padding-left: 0em;
  }
  .section2 .leftSect h1{
    padding-left: 0.4em;
    font-size: 70px;
    text-align: center;
  }
  .section2 .leftSect h2{
    font-size: 30px;
    padding-left: 1em;
    text-align: center;
  }
  .section2 .leftSect h3{
    text-align: center;
    font-size: 14px;
  }

  .section2 .leftSect button{
    margin-bottom: 0.5em;
    margin-left: 35%;
  }
  .section2 .leftSect button:hover{
    transform: translateY(0deg);
    background-color: var(--lightGreen);
  }
  .rightSect img{
    width: 350px;
    padding-bottom: 0em;
    margin-left: -5em;
    margin-top: -4em;
  }


  .section3{
    margin-top: 0em;
    width: 100%;
    background:none;
  }
  .section3 .reveal{
    grid-template-columns: 1fr;
    margin-top: 4em;
  }
  .section3 .container{
      width: 14em;
      height: 16rem;
      margin: auto;
      margin-top: 3em;

  }
  .section3 .container h1{
    font-size: 14px;
    padding-top: 1.5em;
  }
  .section3 .container h2{
    font-size: 15px;
    padding-top: 0.3em;
  }
  .section3 .container .img{
    background-color: var(--backgroundColor);
    height: 8em;
  }

  .section3 .container1{
      width: 14em;
      height: 16rem;
      margin: auto;
      margin-top: 3em;
  }
  .section3 .container1 .img{
    height: 8em;
    
  }

  .section3 .container .img img{
    width: 250px;
    /* border-radius: 2em; */
  }

  .section3 .container1 h1{
    font-size: 14px;
    padding-top: 1.5em;
  }
  .section3 .container1 h2{
    font-size: 15px;
    padding-top: 0.3em;
  }


  #depositeImg{
    width: 160px;
    margin-left: 0.5em;
  }
  #withdrawImg{
    width: 130px;
    margin-left: 3em;
  }
  #transferImg{
    width: 110px;
    margin-left: 2.5em;
  }
  #earnImg{
    width: 160px;
    margin-left: 1.5em;
    margin-top: -2em;
  }



  .security{
    margin-top: 6em;
    padding: 0em;
    grid-template-columns: 1fr;
    background: none;
    width: 90%;
    margin: auto;
    margin-left: 0;
  }

  .security .main{
    padding: 0;
    margin: 0;
  }

  .security h1{
    font-size: 25px;
    padding-bottom: 0.5em;
  }
  .security h2{
    font-size: 20px;
  }
  .security h3{
    padding-top: 0.5em;
    font-size: 15px;
  }
  .security img{
    width: 400px;
    margin-top: -3em;
  }
  .security .container{
    margin: auto;
    margin-top: 1.5em;
    padding: 1.5em;
    width: 90%;
  }
  .help{
    background: none;
    width: 90%;
    margin: auto;
  }

  .help .helpContainer{
    background: none;
    padding-top: 0em;
    grid-template-columns: 1fr;
    margin-top: 13em;

  }


  .help h1{
    font-family: var(--font4);
    color: var(--lightGreen);
    font-size: 30px;
    padding-top: 0em;
  }
  .help h2{
    font-size: 14px;
    padding-right: 8em;
    color: #9e9e9e;
    font-family: var(--font5);
    padding-left: 1em;
    line-height: 1.5em;
    
  }
  .help .img{
    margin-left: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    background: none;
    width: fit-content;
    margin: auto;
  }
  .help .img img{
    width: 300px; 
  }
  .help .contacts{
    margin-top: 1em;
  }
  .help .textContainer img{
    width: 60px;
  }

  .help .contacts h4{
    font-size: 15px;
    color: #e4e4e4;
  }
  .mail{
    margin-top: 0.5em;
    margin-left: 0.8em;
  }
  #mailIcon{
    width: 30px;
  }
  .mail h4{
    color: var(--lightGreen);
    font-size: 15px;
    padding-top: 0.5em;
    padding-left: 1em;
  }
  .mail h4 a{
    text-decoration: none;
    color: #e4e4e4;
  }

  footer{
    margin-top: 5em;
  }


  footer h1{
    font-size: 18px;
    padding-top: 1em;
  }

  footer li{
    line-height: 1.5em;
  }
  footer a{
    font-size: 13px;
  }
  footer .about{
    grid-template-columns: 1fr;
    background: none;
    width: 70%;
    margin: auto;
    padding: 0;
  }
  footer .about h1{
    font-size: 10px;
    line-height: 1.7em;
    padding: 0;
  }
  footer img{
    width: 30px;
  }

  footer .content-four li a{
    font-size: 11px;
    padding-right: 1em;
    line-height: 1.5em;
    padding-left: 0.5em;
  }
  footer .content-four li{
    line-height: 0.7em;
  }
  footer .footerContents{
    grid-template-columns: 1fr ;
  }

  .copy img{
    width: 20px;
  }
  .copy h4{
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 10px;
  }
  .copy .text{
    padding: 0.2em;
  }

  .copy li{
    padding-right: 0.4em;
    list-style: none;
    display: inline-block;
  }
  .copy li a img{
    width: 1.5em;
    padding: 0.1em;
  }
  .copy .socialMedia{
    width: fit-content;
    margin:auto;
  }

}













